name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Backend Image
      run: |
        docker build -t shashank/backend:latest ./backend

    - name: Build Frontend Image
      run: |
        docker build -t shashank/frontend:latest ./frontend

    - name: Push Backend Image
      run: docker push shashank/backend:latest

    - name: Push Frontend Image
      run: docker push shashank/frontend:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~
          docker pull shashank/backend:latest
          docker pull shashank/frontend:latest
          docker compose down
          docker compose up -d --force-recreate